<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Application context definition for JPetStore's business layer.
  - Contains bean references to the transaction manager and to the DAOs in
  - dataAccessContext-local/jta.xml (see web.xml's "contextConfigLocation").
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
		
	<bean id="orgManager" class="com.oa.manager.impl.OrgManagerImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="personManager" class="com.oa.manager.impl.PersonManagerImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="moduleManager" class="com.oa.manager.impl.ModuleManagerImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="roleManager" class="com.oa.manager.impl.RoleManagerImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="userManager" class="com.oa.manager.impl.UserManagerImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="aclManager" class="com.oa.manager.impl.AclManagerImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="initSystemDatas" class="com.oa.manager.impl.InitSystemDatasImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="orgManager" ref="orgManager"></property>
		<property name="userManager" ref="userManager"></property>
	</bean>
	
	<bean id="securityFunction" class="com.oa.SecurityFunction">
		<property name="aclManager" ref="aclManager"></property>
	</bean>
	
</beans>
